<div class="row">
    <div class="col-md-4">
        <h1>Registrar Persona</h1>
        <div class="row">
            <div class="col-md-12">
                <label>Documento</label>
                <input type="text" class="form-control" id="documento" [(ngModel)]="persona.documento"/>
            </div>
        </div>
        <div class="espacio-normal"></div>        
        <div class="row">
            <div class="col-md-12">
                <label>Nombres</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="persona.nombres"/>
            </div>
        </div>        
        <div class="espacio-normal"></div>        
        <div class="row">
            <div class="col-md-12">
                <label>Apellidos</label>
                <input type="text" class="form-control" id="apellidos" [(ngModel)]="persona.apellidos"/>
            </div>
        </div>
        <div class="espacio-normal"></div>        
        <div class="row">
            <div class="col-md-12">
                <label>Fecha Nacimiento</label>
                <input type="text" class="form-control" id="fechaNacimiento" [(ngModel)]="persona.fecha_nacimiento"/>
            </div>
        </div>
        <div class="espacio-normal"></div>        
        <div class="row">
            <div class="col-md-12">
                <label>Telefono</label>
                <input type="text" class="form-control" id="telefono" [(ngModel)]="persona.telefono"/>
            </div>
        </div>
        <div class="espacio-normal"></div> 
        <div class="row">            
                <div class="col-md-6">
                    <button class="btn btn-primary tamano-btn-insertar" (click)="insertarPersona();">Registrar</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary tamano-btn-insertar" (click)="modificarPersona();">Modificar</button>
                </div>
        </div>
        <hr>
        <div class="alert alert-success" *ngIf="showSuccess">{{mensajeSuccess}}</div>
        <div class="alert alert-danger" *ngIf="showDanger">{{mensajeDanger}}</div>
    </div>
    <div class="col-md-8"><app-tabla [personasList]="personasIngresadas"
                                     (personaModificar)= "persona=$event"
                                     (showMensajeSuccess)="showSuccess=$event"
                                     (escribirMensajeSuccess)="mensajeSuccess=$event"
                                     (showMensajeDanger)="showDanger=$event"
                                     (escribirMensajeDanger)="mensajeDanger=$event"></app-tabla></div>
</div>